:root {
  --bs-light-cyan: hsl(193, 38%, 86%);
  --bs-graish-blue: hsl(217, 19%, 38%);
  --bs-dark-graish-blue: hsl(217, 19%, 24%);
  --bs-dark-blue: hsl(218, 23%, 16%);

  --bs-white: #ffffff;
  --bs-light-blue: hsl(209, 70%, 79%);
  --bs-dark-blue: hsl(208, 37%, 49%);
}

.dark-blue {color: var(--bs-dark-blue);}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;

  max-width: 1440px;
  min-width: 375px;

  background: var(--bs-dark-blue);
  color: var(--bs-white);

  font-family: manrope;
}
p {
  font-size: 28px;
}